# Git
.git
.gitignore
.github

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.coverage
**/htmlcov/
**/.venv/
**/venv/
**/env/

# Node
**/node_modules/
**/dist/
**/build/
**/.npm/

# Others
**/.DS_Store
**/.env
**/.dockerignore
**/README.md
**/Makefile
**/docs/
